<div>

    <strong>
        <a href="{{BASE_URL}}/posts/bell_labs.html">notes on bell labs</a>
    </strong>

    <br><br>

    <div class="navlink">
        <a href="{{BASE_URL}}/posts/claude.html">claude</a>
    </div>
    <div class="navlink">
        <a href="{{BASE_URL}}/posts/embodiment.html">information</a>
    </div>
    <div class="navlink">
        <a href="{{BASE_URL}}/posts/superiority.html">superior to machines</a>
    </div>

    <br><br>
    <div>
        {% block post_content %}

        "interactive art and embodiment" by Nathaniel Stern
        suggests that Claude Shannon's information theory was in a sense where philosophy went all wrong
        &mdash; where corporeality was separated from information (when this separation could never truly be complete).
        <br><br>
        I also read an <a style="text-decoration:underline" href="https://www.technologyreview.com/s/401112/claude-shannon-reluctant-father-of-the-digital-age/">
        article</a> by Mitchel Waldrop where Claude Shannon is revered.
        <br><br>
        Both accounts agree that the quantification of information into a theory &mdash;
        perhaps first hinted at in Claude's Master's thesis "A Symbolic Analysis of Relay and Switching Circuits"
        &mdash; was a pivotal moment.
        <br><br>
        What culture was motivating the thinkers at Bell Lab's
        during the time that these early ideas were synthesized &mdash; maybe by understanding
        the place these ideas came from we can see again what has now become invisible through its ubiquity (what is computation).
        <br><br>
        <div>
            I've started to collect some notes and fragments which you can view through the links above.
        </div>

        {% endblock %}
    </div>
</div>