{% extends "snippets/bell_labs.html" %}
{% block post_content %}

<div>

    <strong>Notes From "interactive art and embodiment" by Nathaniel Stern</strong>
    <br>
    <br>

    perception is more than meets the eye &mdash; even with what we traditionally think of as vision
    <br>
    <br>
    Body and image mediate one another, and the locus of perception is between, and of, the two
    <br>
    <br>
    'an ongoing drive to escape flesh's limitations' (since descarte and plato)... I argue this escape is pure fantasy.

    <br>
    <br>
    ********
    <br>
    "It was electrical engineer Claude Shannon who first posited a theory of communication whereby information exists in an immaterial form,
    and which merely needed a vessel to be transmitted"
    (A Mathematical Theory Of Communication &mdash; Information Theory)
    <br>
    ********
    <br>
    <br>

    while data might be replicated or sometimes salvaged, embodiment and the material world cannot be replaced
    <br>
    <br>

    "the challenge for new mediat art and theory .. is to move beyond the twin premises of disembodiment and extension in space that continue to qualify both information and corporeality"
    <br>
    <br>


</div>

{% endblock %}